<!DOCTYPE html>
<html lang="es" ng-app="MyFirstApp">
<head>
	<meta charset="UTF-8">
	<title>Curso de AngularJs</title>
</head>
<body ng-controller="FirstController">

	<input type="text" ng-model="nuevoComentario.comentario">
	<input type="text" ng-model="nuevoComentario.username">
	<button ng-click="agregarComentario()">Agregar Comentario</button>

	<h2>Comentarios</h2>
	<ul>
		<!--Recorrer formularios del $scope.comentarios-->
		<li ng-repeat="comentario in comentarios">
			<!--Campos que se imprimen desde el ng-model del input-->
			{{ comentario.comentario }} - <strong>{{ comentario.username }}</strong>
		</li>
	</ul>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>